*{
    margin: 0;
    padding: 0;
    /* color: red; */
}
html,body{
	max-width: 650px;
	margin: 0 auto;
}
.wrap{
    display: flex;
    flex-direction: column;
}
.total-money{
    height: 2.74rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid #eee;
}

.total-money div{
    text-align: center;
}
.total-money div:first-child{
    font-size: .3rem;
}
.total-money div:nth-child(2){
    width: .5rem;
    font-size: .72rem;
    text-align: left;
    padding-left: .13rem;
}
.total-money div:last-child{
    font-size: .72rem;
    padding-left:.12rem; 
}


.pay{
    height: 1.1rem;
    font-size: .32rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 .3rem;
    border-bottom: 0.02rem solid  #F7F7F7;
}
.wx{
    width: .68rem;
    height: .68rem;
    margin-right: .3rem;
}
.select{
    width: .32rem;
    height: .32rem;
}
.pay>div{
    flex: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-large{
    font-size: .32rem;
    height:1.1rem; 
    color: #fff;
    margin: auto;
    margin: 1.1rem .3rem .1rem .3rem;
    background: #4ABB6D;
    border: none; 
    border-radius: 6px; 
}

